body {
  background-color: #000000;
	color: #ff2200; /* couleur rouge par défaut pour montrer ce qui n'a pas été mis en forme*/
	text-decoration: none;
  font-size: 14px;
	font-family: Calibri, Verdana, Times, serif;
  padding: 0px;
}

a, a:active {
	color: #03485e;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

header {
  background-color: #333333;
  width: 1000px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 0px;
}
article {
  background-color: #333333;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding: 1px;
}


h1 {
  background-color: #222222;
  color:#ffffff;
  margin: 10px 10px 0px 10px;
  font-size: 32px;
  padding: 0px 10px 2px 16px;
}
h2 {
  background-color: #666666;
  margin: 0px;
  color: #333333;
  padding: 4px;
  font-size: 14px;
  text-align: center;
}

.pres {
  clear: both;
  background-color: #888888;
  margin: 10px;
  padding: 1px 16px 0px 16px;
  color: #000000;
  font-size: 16px;
  text-align: justify;
}
.soustitrelien{
  background-color: #aaaaaa;
  padding: 0px;
  color: #000000;
  font-size: 14px;
  position: relative;
  top: -68px;
  text-align: right;
  margin-right: 24px;
  height: 0px;
}

.exemple1{
  width: 250px;
  heigth: 400px;
  background-color: #eeeeee;
  float: right;
  top: 10px;
  margin: -1px -16px 6px 10px;
  padding: 10px;
  font-size:12px;
}

.exemple2{
  width: 41%;
  float: left;
  margin: 0px 3% 0px 6%;
  background-color: #cccccc;
  font-size:12px;
  box-shadow: 10px 10px 5px grey;
}
.exemple2 p{
  text-align: justify;
  margin: 2px 20px 2px 20px;
  padding: 4px 0px 4px 0px;
}

.expied{
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.lienext {
  text-align: center;
}
.clear {
  clear: both;
}
.imgsocio1{
  width: 24px;
  margin: 0px;
}.imgsocio2{
  width: 24px;
  margin: 0px 2px 6px 4px;
}
